
<div class="container">
 {{#if result.isValid}}
<div class="contenedorCarts">
        {{#each result.docs}}
        <div class="carts">
            <strong class="infoFoto"> {{this.thumbnail}}</strong> 
            <strong class="info"> {{this.title}}</strong> 
            <strong class="info">Precio: ${{this.price}}</strong> 
            <a href="http:/api/views/productDetail/{{this._id}}" class="btnDetail">Ver detalles</a>
        </div>
        {{/each}}
</div>
<div class="paginate">
    {{#if result.hasPrevPage}}
    <a href="{{result.prevLink}}"> << Anterior </a>
    {{/if}}
    {{result.page}}
    {{#if result.hasNextPage}}
    <a href="{{result.nextLink}}"> Siguiente >></a>
    {{/if}}
</div>
{{else}}
<h1>No hay productos para mostrar</h1>
{{/if}}

</div> 
